.go-back {
  background-color: var(--accent);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  color:var(--color1);
  margin-right: 3px;
  margin-left: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.go-back:hover {
  background-color: var(--color3);
  color: white;
}