#inventory {
  background-color: var(--color1);
  padding: 10px;
  width: 180px;
  margin: 5px;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#inventory h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

#inventory .buttons {
  margin-bottom: 5px;
}

#inventory .axis {
  width: 70px;
  background-color: var(--color2);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  color:var(--accent);
  margin-right: 3px;
  margin-left: 3px;
}

#inventory .selected{
  background-color: var(--accent);
  color: white;
}