.start {
  background-color: var(--accent);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  color:white;
  margin-right: 3px;
  margin-left: 3px;
}