.ship {
  border: 1px solid black;
  background-color: var(--color2);
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.ship.selected-ship {
  background-color: var(--accent);
  color: var(--color2);
}

.ship.clickeable:hover {
  background-color: var(--color3);
  cursor: pointer;
}

.ship-square {
  width: 20px;
  height: 20px;
  background-color: var(--accent);
  margin-right: 5px;
}

.selected-ship .ship-square {
  background-color: var(--color2);
}

.ship-name {
  display: block; 
  margin-bottom: 5px;
}
.ship-length {
  display: flex;
  justify-content: center;
}